
@font-face {
	font-family: 'LatoHairline';
	src: url('../fonts/Lato-Hai-webfont.eot');
	src: url('../fonts/Lato-Hai-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Hai-webfont.woff') format('woff'),
		 url('../fonts/Lato-Hai-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Hai-webfont.svg#LatoHairline') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoHairlineItalic';
	src: url('../fonts/Lato-HaiIta-webfont.eot');
	src: url('../fonts/Lato-HaiIta-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-HaiIta-webfont.woff') format('woff'),
		 url('../fonts/Lato-HaiIta-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-HaiIta-webfont.svg#LatoHairlineItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/Lato-Lig-webfont.eot');
	src: url('../fonts/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Lig-webfont.woff') format('woff'),
		 url('../fonts/Lato-Lig-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Lig-webfont.svg#LatoLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoLightItalic';
	src: url('../fonts/Lato-LigIta-webfont.eot');
	src: url('../fonts/Lato-LigIta-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-LigIta-webfont.woff') format('woff'),
		 url('../fonts/Lato-LigIta-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-LigIta-webfont.svg#LatoLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoRegular';
	src: url('../fonts/Lato-Reg-webfont.eot');
	src: url('../fonts/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Reg-webfont.woff') format('woff'),
		 url('../fonts/Lato-Reg-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Reg-webfont.svg#LatoRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoItalic';
	src: url('../fonts/Lato-RegIta-webfont.eot');
	src: url('../fonts/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-RegIta-webfont.woff') format('woff'),
		 url('../fonts/Lato-RegIta-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-RegIta-webfont.svg#LatoItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/Lato-Bol-webfont.eot');
	src: url('../fonts/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Bol-webfont.woff') format('woff'),
		 url('../fonts/Lato-Bol-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Bol-webfont.svg#LatoBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoBoldItalic';
	src: url('../fonts/Lato-BolIta-webfont.eot');
	src: url('../fonts/Lato-BolIta-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-BolIta-webfont.woff') format('woff'),
		 url('../fonts/Lato-BolIta-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-BolIta-webfont.svg#LatoBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoBlack';
	src: url('../fonts/Lato-Bla-webfont.eot');
	src: url('../fonts/Lato-Bla-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Bla-webfont.woff') format('woff'),
		 url('../fonts/Lato-Bla-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-Bla-webfont.svg#LatoBlack') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LatoBlackItalic';
	src: url('../fonts/Lato-BlaIta-webfont.eot');
	src: url('../fonts/Lato-BlaIta-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-BlaIta-webfont.woff') format('woff'),
		 url('../fonts/Lato-BlaIta-webfont.ttf') format('truetype'),
		 url('../fonts/Lato-BlaIta-webfont.svg#LatoBlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'MerriweatherLight';
	src: url('../fonts/Merriweather-Light-webfont.eot');
	src: url('../fonts/Merriweather-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Merriweather-Light-webfont.woff') format('woff'),
		 url('../fonts/Merriweather-Light-webfont.ttf') format('truetype'),
		 url('../fonts/Merriweather-Light-webfont.svg#MerriweatherLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'MerriweatherRegular';
	src: url('../fonts/Merriweather-Regular-webfont.eot');
	src: url('../fonts/Merriweather-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Merriweather-Regular-webfont.woff') format('woff'),
		 url('../fonts/Merriweather-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/Merriweather-Regular-webfont.svg#MerriweatherRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'MerriweatherItalic';
	src: url('../fonts/Merriweather-Italic-webfont.eot');
	src: url('../fonts/Merriweather-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Merriweather-Italic-webfont.woff') format('woff'),
		 url('../fonts/Merriweather-Italic-webfont.ttf') format('truetype'),
		 url('../fonts/Merriweather-Italic-webfont.svg#MerriweatherItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'MerriweatherBold';
	src: url('../fonts/Merriweather-Bold-webfont.eot');
	src: url('../fonts/Merriweather-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Merriweather-Bold-webfont.woff') format('woff'),
		 url('../fonts/Merriweather-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/Merriweather-Bold-webfont.svg#MerriweatherBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'MerriweatherHeavy';
	src: url('../fonts/Merriweather-Black-webfont.eot');
	src: url('../fonts/Merriweather-Black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Merriweather-Black-webfont.woff') format('woff'),
		 url('../fonts/Merriweather-Black-webfont.ttf') format('truetype'),
		 url('../fonts/Merriweather-Black-webfont.svg#MerriweatherHeavy') format('svg');
	font-weight: normal;
	font-style: normal;

}




body {
	font: 16px/1.5em Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 48px;
	line-height: 1.3em;
	font-family: 'MerriweatherRegular';
}

h2 {
	line-height: 1.4em;
	letter-spacing: -1px;
	font-size: 26px;
	font-family: 'LatoLight';
}

h3 {
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: "MerriweatherRegular";
}

p {
	font-family: 'LatoRegular';
	font-size: 18px;
	line-height: 1.5em;
}

.first-line {
	display: block;
}

.second-line {

}

.city {
	font-size: 42pt;
	font-family: 'LatoRegular';
}

/* Colors */

.blue {
	text-shadow: rgba(0,80,200,0.8) 1px 1px 1px;
	color: white;
	color: rgba(255,255,255,0.6);
}

.blue span.bold{
	color: rgba(255,255,255,1);
}

#header { text-shadow: none ;}
#header .class { opacity: 0.4; text-indent: -60px;}

.orange { background-color: #495154; color: #6d4739;}
.orange h1 {  }
.orange h2 {  }
.orange p {  }
.orange .white-on-orange { color: #ffffff; text-shadow: 0px 5px #dd5e45;}

.turquoise { background-color: #60d7c1; }
.turquoise .orange-on-turquoise { color: #ef7b62; text-shadow: 0px 2px #d04629;}

.yellow { background: #f6d56e; color: #fff; }
.yellow h1 { color: #fff; text-shadow: 0px 2px #9c7c19;}
.yellow h2 { color: #9c7c19; }
.yellow p { color: #9c7c19; }

.gray { background-color: #dedcd8; color: #495154; }

.dark-gray { background-color: #a9a496; }

.dark-gray .four-things {
	line-height: 1.3em;
	letter-spacing: -1px;
	font-size: 48px;
	font-family: 'LatoLight';
	text-rendering: optimizelegibility;
}

.dark-gray .four-things span {
	font-family: 'MerriweatherRegular';
	font-weight: bold;
}

.gray { background-color: #aeaa9f; }

/* Editor */

.editor {
	color: #ffffff;
	font-size: 14px;
}

.editor .def {
	font-weight: bold;
}

.editor .def-method {
	font-weight: bold;
	color: #9ee22c;
}

.editor .def span, .editor .def-method span {
	color: #f9296f;
}

.editor .def-method i {
	color: #ff9000
}

.editor .class {
	color: #67d9ef;
	font-style: italic;
}

.editor .symbol {
	color: #ae81ff;
}

.editor .dollar_value {
	color: #ff9000;
	font-style: italic;
}

.editor .attribute {
	color: #17def2;
}

/* font sizes along the media size */

/* Large desktop */
@media (min-width: 1200px) {
	h1 {}
	h2 {}
	h3 {}
	p {}
	#chapter1 h1 span.first-line {
		line-height: 100pt;
		font-size: 82pt;
	}
	#chapter1 h1 span.second-line {
		font-size: 60pt;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	#chapter1 h1 span.first-line {
		line-height: 80pt;
		font-size: 70pt;
	}
	#chapter1 h1 span.second-line {
		font-size: 51pt;
	}
}

@media (max-width: 979px) {
	h1 { font-size: 42px; }
	h2 { font-size: 32px; font-weight: normal;}
	h3 {}
	p {}
	#chapter1 h1 span.first-line {
		font-size: 58pt;
	}
	#chapter1 h1 span.second-line {
		font-size: 40pt;
	}
	.dark-gray .four-things { font-size: 38px; }
}

 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	h1 { font-size: 42px; }
	h2 { font-size: 32px; font-weight: normal;}
	h3 {}
	p {}
	#chapter1 h1 span.first-line { font-size: 58pt; line-height: 60pt; }
	#chapter1 h1 span.second-line { font-size: 40pt; }
	#chapter1 h2 { font-size: 26px; }
	#chapter1 h2.city { font-size: 40px; }
	.dark-gray .four-things { font-size: 38px; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	h1 {}
	h2 {}
	h3 {}
	p {}
	#chapter1 h1 span.first-line {
		font-size: 46pt; line-height: 57pt;
	}
	#chapter1 h1 span.second-line {
		font-size: 38pt;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {

	}

	h2 {

	}

	h3 {

	}

	p {
		
	}
	#chapter1 h1 span.first-line { font-size: 58pt; line-height: 57pt; }
	#chapter1 h1 span.second-line { font-size: 47pt; }
}

@media (max-width: 320px) {
	h1 { font-size: 36px; }
	h2 { font-size: 26px; font-weight: normal; }
	h3 {}
	p {}

	#chapter1 h1 span.first-line { font-size: 38pt; line-height: 39pt; }
	#chapter1 h1 span.second-line { font-size: 32pt; line-height: 39pt; }
	.city { font-size:30pt; }
	.orange .white-on-orange { color: #ffffff; text-shadow: 0px 3px #dd5e45;}

	/*Dark gray*/
	.dark-gray .four-things { font-size: 26px; }

}